<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>content</title>
</head>

<body>

    <!-- sidebar -->
    <div class="flex">
        <div class="sidebar-container h-screen w-60 bg-[#DCE4E4]">
            <ul>
                <li>
                    <div class="image">
                        <span><img src="C:\Users\meetp\OneDrive\Desktop\Inventra-main\static\images\Inventra-logo.png"
                                class="bg-[#E6EEEE]" alt="logo"></span>
                    </div>
                </li>
                <li>
                    <div class="content p-4 ml-16 text-xl" style="font-family:poppins;">
                        <span><img src="static/images/Dashboard.png" alt="">Dashboard</span>
                    </div>
                </li>
                <li>
                    <div class="content-1 p-8 text-lg bg-[#E6EEEE]" style="font-family:poppins;">
                        <span>Content-1</span>
                    </div>
                </li>
                <li>
                    <div class="content-2 p-8 text-lg bg-[#DCE4E4]" style="font-family:poppins;">
                        <span>Content-2</span>
                    </div>
                </li>
                <li>
                    <div class="content-3 p-8 text-lg  bg-[#E6EEEE]" style="font-family:poppins;">
                        <span>Content-3</span>
                    </div>
                </li>
                <li>
                    <div class="content-4 p-8 text-lg  bg-[#DCE4E4]" style="font-family:poppins;">
                        <span>Content-4</span>
                    </div>
                </li>
                <li>
                    <div class="content-5 p-8 text-lg  bg-[#E6EEEE]" style="font-family:poppins;">
                        <span>Content-5</span>
                    </div>
                </li>
            </ul>
        </div>


        <!-- Header -->
        <div class="main-content pl-48 pt-4 flex gap-32">
            <div class="header">
                <span><a href="" class="border-2 rounded-2xl px-3  py-0.5 text-2xl bg-[#D9D9D9]"
                        style="font-family:poppins;">Sort
                        By</a></span>
            </div>
            <div class="input "><span><input type="search" placeholder="Search Here"
                        class="border-2 rounded-2xl text-2xl bg-[#D9D9D9] px-2"></span>
            </div>
            <div class="name text-2xl" style="font-family:poppins;"><span>Company Name</span>
            </div>
            <div class="profile">
                <i class="fa-solid fa-user p-2 border-2 rounded-3xl bg-[#8F8F8F]"></i>
            </div>
            </header>
        </div>
</body>

</html>