<html>
    <head>
        <title>Inventra</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="icon" type="image/png" href="/static/images/Inventra_Logo_Favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Aladin&family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">
    </head>
    <body class="absolute inset-0 w-full h-full bg-[url('/static/images/landing_page_bg.svg')] bg-cover bg-center bg-no-repeat z-0 " style="background-color: #ffffff;">
        <section>                
            <nav class="flex flex-row items-center pt-4">
                <div class="w-[40%]"><img src="/static/images/landing_page_logo.svg" alt="Description of SVG" width="300px" height="30px" class="pl-12"/></div>
                <div class="w-[60%]">
                    <ul class="flex flex-row gap-[12%]">
                        <li class="font-poppins text-xl font-bold pt-4">Overview</li>
                        <li class="font-poppins text-xl font-bold pt-4">Pricing</li>
                        <li class="font-poppins text-xl font-bold pt-4">Features</li>
                        <li class="font-poppins text-xl font-bold pt-4">About us</li>
                        <li><button style="background-color: #134074; color: white; padding: 8px 16px; margin-top: 10px; border-radius: 9999px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);" class="hover:bg-opacity-90"><a href="{{ url_for('login') }}" class="font-poppins text-xl font-bold text-white">Sign in</a></button></li>
                    </ul> 
                </div>
            </nav>
        </section>
        <section>
            <div class="flex flex-col inset-0 mt-[5%] ml-[16%] z-3"> <!--main div-->
                <div 
                    class="bg-no-repeat bg-contain whitespace-nowrap"
                    style="background-image: url('/your/custom/path/yellow_highlight_bold_05.svg'); background-position: center 60%;">
                  <!-- Content goes here -->
                </div>
                <div style="font-family: 'Playwrite DE Grund', sans-serif;" class="flex w-full">
                    <h1 style="font-size: 65px;" class="ml-[4%] z-10">Inventory Management System”</h1>
                    <img src="/static/images/Scope.svg" alt="" width="100" height="100">
                </div> <!--line 2-->
                <div class="flex mb-4">
                    <img class="ml-[10%]" src="/static/images/Notepad.svg" alt="" width="100" height="100">
                    <p class="font-poppins ml-[22%]" style="font-size: 30px;">-where you can easily manage your data</p>
                </div> <!--line 3-->                        
            </div>              
            <div class="ml-[46%] mt-12">
                <button class=" text-white px-8 py-4 rounded-lg hover:bg-blue-200 transition-colors duration-200 font-large " style="background-color: #134074;">
                    Try it for free
                </button>
            </div>
        </section>  
    </body>
</html>