<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="font-family: poppins;">
    <div class="flex w-full">
        <div class="w-1/2 h-screen">
            <img src="static\images\Inventra-logo.png" alt="Inventra logo" class="px-52 mt-12 ml-[-6%]">
            <p class="pl-28 mt-44 text-2xl font-medium leading-6">
                login to your account to streamline your inventory <br><br><br>
                and take control of your stocks with ease.
            </p>
        </div>
        <div class="w-1/2 h-screen relative">
            <div class="absolute inset-0 bg-[url('/static/images/Login_BG-cropped.svg')] bg-cover bg-center z-0"></div>
            <div class="relative z-10 p-8"> 
                <div class="p-4 mt-28 w-[70%] ml-[15%] bg-[#B5C2CA]" style="border-radius: 12%;">
                    <h1 class="text-4xl font-bold text-center mt-8">login</h1> <!-- Increased bottom margin for h1 -->
                    <hr style="border:1px solid grey;" class="mb-6">
                    <label class="text-lg">Username or email</label><br>
                    <input type="text" class="w-full h-[6vh] rounded-lg bg-[#E8EFFF] p-2 mb-6" placeholder="Username">
                    <label class="text-lg">Password</label><br>
                    <input type="password" class="p-2 mb-6 w-full h-[6vh] rounded-lg bg-[#E8EFFF]" placeholder="Password">
                    <button class="w-full rounded-lg p-1 py-2 text-xl bg-[#134074] text-white mb-8">Login</button> <!-- Matched margin below button -->
                    <div class="flex justify-between mb-8"> <!-- Adjusted margin-bottom to match -->
                        <a class="hover:text-blue-600">Don't have an account?</a>
                        <a class="hover:text-blue-500">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>
